body{
    background-image: url(atiskepek/hatter.jpg);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

article img{
    width: 400px;
    height: 400px;
    padding: 20px;
}