@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(201, 248, 192);
  border-radius: 50px;
  opacity: 0.9;
}
h1 {
  -webkit-box-shadow: 6px 0px 34px 7px rgba(201, 248, 192, 0.79);
  box-shadow: 6px 0px 34px 7px rgba(201, 248, 192, 0.79);
  padding: 20px;
  border-radius: 50px;
}
.navbar {
  background-image: url(kepek/fa.jpg);
}
article div img {
  max-width: 400px;
  padding: 15px;
  border-radius: 50px;
}
section {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  font-size: x-large;
}
footer {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  border-radius: 50px;
  width: 400px;

  color: white;
}
.middle-sidebar {
  background-color: rgb(201, 248, 192);
  border-radius: 10px;
  opacity: 0.8;
}
.middle-sidebar a {
  color: rgb(0, 0, 0);
  font-family: "Happy Monkey", cursive;
}
.header{
  background-color: rgb(201, 248, 192);
}
