@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #000000;
}
article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(134, 93, 170);
  border-radius: 50px;
  opacity: 0.9;
}
h1 {
    color: #40304e;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    color: #40304e;
    background-color: #865DAA;
    border-radius: 50px;
    opacity: .9;
}
.navbar {
  background-image: url(kepek/urlaphatter.jpg);
}
article div img {
  max-width: 400px;
  padding: 15px;
  border-radius: 50px;
}
section {
  text-align: center;
  font-family: "Girassol", cursive;
  letter-spacing: 10px;
  font-size: x-large;
}
footer {
  text-align: center;
  font-family: "Girassol", cursive;
  border-radius: 50px;
  width: 400px;

  color: white;
}
.middle-sidebar {
  background-color: rgb(93, 159, 170);
  letter-spacing: 3px;
  border-radius: 10px;
  opacity: 0.8;
}
.middle-sidebar a {
  color: rgb(0, 0, 0);
  font-family: "Girassol", cursive;
}
.header {
  background-color: rgb(60, 33, 83);
}
